.signup-section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 20px 40px;

    background: url("images/farmer\ 2.jpg") center/cover no-repeat;
    position: relative;
}


.signup-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.45);
}

/* Form Card */
.signup-card {
    position: relative;
    background: white;
    padding: 35px;
    border-radius: 12px;
    width: 400px;
    max-height: 85vh;
    overflow-y: auto;
    box-shadow: 0 8px 25px rgba(0,0,0,0.2);
}


.signup-card h2 {
    text-align: center;
    margin-bottom: 5px;
}

.signup-card p {
    text-align: center;
    margin-bottom: 20px;
    color: #666;
}


.signup-card label {
    font-weight: 500;
    margin-top: 12px;
    display: block;
}


.signup-card input,
.signup-card select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}


.signup-btn {
    width: 100%;
    margin-top: 20px;
    background: #2e7d32;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.signup-btn:hover {
    background: #256628;
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
}


.form-link {
    text-align: center;
    margin-top: 15px;
}

.form-link a {
    color: #2e7d32;
    text-decoration: none;
}

.form-link a:hover {
    text-decoration: underline;
}